@layout("登录页面") {
	<form class="form-signin offset-4 col-4" action="/login" method="POST">
	<h1 class="h3 mb-3 font-weight-normal">请登录</h1>
	<div class="form-label-group">
        <input type="text" id="matricNo" class="form-control" name="matricNo" required autofocus>
        <label for="matricNo">学号</label>
      </div>
	<div class="form-label-group">
        <input type="password" id="passwrod" class="form-control" name="password" required>
        <label for="passwrod">密码</label>
      </div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
</form>
}
